openapi: 3.1.0
info:
  title: Spade API
  description: Documentation for Spade's card transaction enrichment API and related endpoints. We offer
    sandbox and production environments on both the east coast and west coast to enable ultra low latency
    enrichment for realtime applications. Each environment requires different API keys. To inquire about
    API keys, please contact your Spade representative or reach out to <hello@spade.com>.
  version: 2.7.3
servers:
- url: https://east.sandbox.spade.com
  description: East coast sandbox environment
- url: https://east.api.spade.com
  description: East coast production environment
- url: https://west.sandbox.spade.com
  description: West coast sandbox environment
- url: https://west.api.spade.com
  description: West coast production environment
- url: https://sandbox.v2.spadeapi.com
  description: East coast sandbox environment (deprecated)
- url: https://v2.spadeapi.com
  description: East coast production environment (deprecated)
- url: https://sandbox.west.v2.spadeapi.com
  description: West coast sandbox environment (deprecated)
- url: https://west.v2.spadeapi.com
  description: West coast production environment (deprecated)
tags:
- name: Card Enrichment
  description: Enrich card transactions
- name: Transfer Enrichment
  description: Enrich transfers
- name: Category Personalization
  description: Create custom categories and personalize enrichments
- name: Feedback and Reporting
  description: Provide feedback on card events or report enrichment errors
- name: Merchant Search
  description: Search for Spade merchants
- name: Merchant Action Triggers
  description: Register merchant action triggers and receive triggered actions in enrichment responses
- name: Category Action Triggers
  description: Register category action triggers and receive triggered actions in enrichment responses
paths:
  /transactions/cards/enrich:
    post:
      description: 'When working with this endpoint, note that several of the input fields are optional
        (region, acquirerId, etc.). However, we *strongly* recommend including all of the fields that
        you have available. Some optional fields can substantially improve performance.


        Take care to ensure you are using unaltered and correct data in each field. Some fields go by
        multiple names, so if you have any questions regarding integration please feel free to reach out.


        Note that some response fields may not be included in your product package, please reach out with
        any questions.'
      tags:
      - Card Enrichment
      summary: Enrich a card transaction
      operationId: cardEnrich
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CardEnrichmentRequest'
              - type: object
                required:
                - merchantName
                properties:
                  location:
                    type: object
                    required:
                    - city
                    - country
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEnrichmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /transactions/cards/enrich/parse:
    post:
      description: 'Enrich a card transaction where parsed de43 data takes precedence over the other fields
        in the request body.

        This otherwise endpoint is identical to `/transactions/cards/enrich` except that `city` and `merchantName`
        are now

        optional, but only when `de43` is included. Note: Because DE43 format is not consistent between
        sources, we recommend parsing

        your own data and using `/transactions/cards/enrich/` if possible.


        Note that some response fields may not be included in your product package, please reach out to
        sales@spade.com with any questions.

        '
      tags:
      - Card Enrichment
      summary: Enrich a card transaction with an unparsed de43
      operationId: cardEnrichParse
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CardEnrichmentRequest'
              - type: object
                properties:
                  de43:
                    type: string
                    maxLength: 100
                    description: A well formatted de43 message. If parsable the parsed data (merchantName,
                      city, state) will take precedence over the corresponding fields in the request body.
                      The parser expects an unedited de43, please do not remove special characters or
                      spaces. Our parser currently only supports US transactions.
                    examples:
                    - WALMART.COM            BENTONVILLE  ARUS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEnrichmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /transactions/transfers/enrich:
    post:
      description: 'Enrich a transfer transaction such as an ACH withdrawal, ACH deposit, or wire transfer.


        When using this endpoint, take care to ensure you are using unaltered and correct data in each
        field.


        Note that transfers enrichment is currently private, please reach out to sales@spade.com to request
        access.'
      tags:
      - Transfer Enrichment
      summary: Enrich a transfer transaction
      operationId: transferEnrich
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferEnrichmentRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferEnrichmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /transactions/universal/enrich:
    post:
      description: 'Enrich any type of transaction such as an aggregator transaction, card transaction,
        ACH withdrawal, ACH deposit, or wire transfer.


        Note that universal enrichment is currently in *beta*, please reach out to sales@spade.com to
        request access.'
      tags:
      - Universal Enrichment
      summary: Enrich a universal transaction
      operationId: universalEnrich
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniversalEnrichmentRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversalEnrichmentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /transactions/report:
    post:
      description: 'Endpoint to report a card enrichment as incorrect. An `enrichmentId` and an `errorDescription`
        are required fields to report an enrichment. Optional request fields such as `incorrectLocation`,
        `incorrectLocationDescription`, `incorrectCategory`, `incorrectCategoryDescription`, `incorrectChannel`,
        `incorrectChannelDescription`, `incorrectCounterparty`,  and `incorrectCounterpartyDescription`,
        can be set to indicate what needs to be addressed in  the enrichment. Once a report has been addressed,
        you will receive a corrected enrichment via a callback url you set with Spade. See the callback
        section to learn more on how we send back a corrected enrichment.

        '
      tags:
      - Feedback and Reporting
      summary: Report a card enrichment as incorrect
      operationId: cardReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportApiRequest'
        required: true
      responses:
        '200':
          description: Enrichment reported successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        CorrectedEnrichment:
          https://example.com/your/callback/endpoint:
            post:
              description: 'In order to receive a corrected enrichment, you need to set a callback url
                with Spade. This url must be in HTTPS protocol and return a 2XX response upon success.
                To verify a payload is from Spade, you can verify that the token from `X-Webhook-Token`
                (in the request header) matches the token you receive from Spade.

                '
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CardEnrichmentResponse'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
                '400':
                  $ref: '#/components/responses/BadRequest'
                '403':
                  $ref: '#/components/responses/Unauthorized'
                '500':
                  $ref: '#/components/responses/InternalServerError'
  /merchants:
    get:
      x-excluded: true
      description: 'Search for merchants in Spade''s merchant database.


        These merchants show up as counterparties and/or third parties in enrichment responses. Whether
        a merchant shows up as a counterparty or a third party within a given enrichment is based on the
        role it is playing in the transaction.


        Note that merchant `ids` are relatively stable; however, they may change over time due to real-world
        changes (e.g. mergers and acquisitions) as well as general improvements to our merchant database
        which can cause a small percentage of these `ids` to shift over time.


        This endpoint currently supports only a subset of Spade''s merchants (mostly larger, frequently
        transacted merchants), with more merchants being added over time.


        To learn more about merchant search, please read the [Merchant Search Guide](https://docs.spade.com/reference/merchant-search-guide).'
      tags:
      - Merchant Search
      summary: Get detailed merchant information (beta)
      operationId: merchantSearch
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: The name of the merchant you want to find
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /corporations:
    get:
      description: '<Info>This endpoint is in beta. To request access, contact [sales@spade.com](mailto:sales@spade.com).</Info>


        Search for merchants in Spade''s merchant database by name.


        Designed for powering autocomplete experiences, this endpoint returns up to five matching merchants
        with their name, logo, and website.


        To learn more, read the [Merchant Search Guide](https://docs.spade.com/reference/merchant-search-guide).'
      tags:
      - Merchant Search
      summary: Search for merchants
      operationId: corporationSearch
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: The name of the merchant you want to find
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorporationSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /merchant-action-triggers:
    get:
      description: 'Get the status and version of the latest merchant action trigger registration at the
        account scope.


        Account-level triggers apply to all transactions for all users in your account.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Get account-level trigger status
      operationId: merchantActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register merchant action triggers at the account scope.


        Account-level triggers apply to all transactions for all users in your account.


        **Field requirements:**

        - `id`, `merchantName`, and `action` are always required for each trigger

        - If location fields (address, city) are NOT provided, `website` is required


        **Batch processing:** Registrations with more than 100 triggers are processed asynchronously as
        a batch job. Poll the GET endpoint to monitor completion.


        **Limits:** Up to 100,000 triggers per request, with a total cap of 300,000 active triggers per
        scope. To register more than 100,000 triggers, split them into ≤100,000 batches sent sequentially
        via PATCH `add` — see [Registering large trigger sets](/reference/realtime-action-triggers-guide#registering-large-trigger-sets).


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Register merchant triggers at account scope
      operationId: merchantActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on merchant action triggers at the account scope.


        Supports two operations:

        - **add**: Register new merchants or update existing ones. Only the submitted merchants are affected—existing
        registrations are preserved. If a trigger ID already exists, its registration is replaced (upsert).
        Registrations with more than 100 triggers are processed asynchronously as a batch job.

        - **remove**: Remove merchants by trigger ID. Removed merchants are excluded from enrichment lookups.
        Trigger IDs that are not currently active are silently ignored (idempotent).


        **Limits:** Up to 100,000 triggers per `add` request, with a total cap of 300,000 active triggers
        per scope. To register more than 100,000 triggers, split them into ≤100,000 batches and submit
        them with sequential `add` operations, waiting for each to reach `succeeded` before the next —
        see [Registering large trigger sets](/reference/merchant-action-triggers-guide#registering-large-trigger-sets).


        Successful `add` operations return `201`; successful `remove` operations return `200`.


        **Important:** Only one operation can be in progress per scope at a time. Concurrent requests
        return 409.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Incremental trigger operations at account scope
      operationId: merchantActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerPatchRequest'
            examples:
              add:
                summary: Add merchant triggers
                value:
                  operation: add
                  merchantTriggers:
                  - id: trigger-1
                    merchantName: Starbucks
                    website: https://www.starbucks.com
                    level: corporation
                    action:
                      type: REWARD
                      rewardPercent: 5
                      offerId: summer-2024-promo
              remove:
                summary: Remove merchant triggers
                value:
                  operation: remove
                  triggerIds:
                  - trigger-1
                  - trigger-2
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed (or submitted for batch processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all merchant action triggers at the account scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Clear account-level triggers
      operationId: merchantActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /programs/{programId}/merchant-action-triggers:
    parameters:
    - in: path
      name: programId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the program
      required: true
    get:
      description: 'Get the status and version of the latest merchant action trigger registration at the
        program scope.


        Program-level triggers apply to all enrichment requests where the `programId` field matches this
        program. See [What is a program?](/reference/merchant-action-triggers-guide#what-is-a-program)
        for more details.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Get program-level trigger status
      operationId: programMerchantActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register merchant action triggers at the program scope.


        Program-level triggers apply to all enrichment requests where the `programId` field matches this
        program.


        **Field requirements:**

        - `id`, `merchantName`, and `action` are always required for each trigger

        - If location fields (address, city) are NOT provided, `website` is required


        **Batch processing:** Registrations with more than 100 triggers are processed asynchronously as
        a batch job. Poll the GET endpoint to monitor completion.


        **Limits:** Up to 100,000 triggers per request, with a total cap of 300,000 active triggers per
        scope. To register more than 100,000 triggers, split them into ≤100,000 batches sent sequentially
        via PATCH `add` — see [Registering large trigger sets](/reference/realtime-action-triggers-guide#registering-large-trigger-sets).


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Register merchant triggers at program scope
      operationId: programMerchantActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on merchant action triggers at the program scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).


        **Limits:** Up to 100,000 triggers per `add` request, with a total cap of 300,000 active triggers
        per scope. To register more than 100,000 triggers, split them into ≤100,000 batches and submit
        them with sequential `add` operations, waiting for each to reach `succeeded` before the next —
        see [Registering large trigger sets](/reference/realtime-action-triggers-guide#registering-large-trigger-sets).'
      tags:
      - Merchant Action Triggers
      summary: Incremental trigger operations at program scope
      operationId: programMerchantActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed (or submitted for batch processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all merchant action triggers at the program scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Clear program-level triggers
      operationId: programMerchantActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{userId}/merchant-action-triggers:
    parameters:
    - in: path
      name: userId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the user
      required: true
    get:
      description: 'Get the status and version of the latest merchant action trigger registration at the
        user scope.


        User-level triggers apply to all transactions for all cards belonging to the specified user.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Get user-level trigger status
      operationId: userMerchantActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register merchant action triggers at the user scope.


        User-level triggers apply to all transactions for all cards belonging to the specified user.


        **Field requirements:**

        - `id`, `merchantName`, and `action` are always required for each trigger

        - If location fields (address, city) are NOT provided, `website` is required


        **Limit:** A maximum of 100 `merchantTriggers` can be submitted per request at the user scope.
        Requests exceeding this limit will receive a `400` error.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Register merchant triggers at user scope
      operationId: userMerchantActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on merchant action triggers at the user scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).'
      tags:
      - Merchant Action Triggers
      summary: Incremental trigger operations at user scope
      operationId: userMerchantActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed (or submitted for batch processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all merchant action triggers at the user scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Clear user-level triggers
      operationId: userMerchantActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{userId}/cards/{cardId}/merchant-action-triggers:
    parameters:
    - in: path
      name: userId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the user
      required: true
    - in: path
      name: cardId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the card
      required: true
    get:
      description: 'Get the status and version of the latest merchant action trigger registration at the
        card scope.


        Card-level triggers apply only to transactions for the specified card.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Get card-level trigger status
      operationId: cardMerchantActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register merchant action triggers at the card scope.


        Card-level triggers apply only to transactions for the specified card.


        **Field requirements:**

        - `id`, `merchantName`, and `action` are always required for each trigger

        - If location fields (address, city) are NOT provided, `website` is required


        **Limit:** A maximum of 100 `merchantTriggers` can be submitted per request at the card scope.
        Requests exceeding this limit will receive a `400` error.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Register merchant triggers at card scope
      operationId: cardMerchantActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on merchant action triggers at the card scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).'
      tags:
      - Merchant Action Triggers
      summary: Incremental trigger operations at card scope
      operationId: cardMerchantActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed (or submitted for batch processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all merchant action triggers at the card scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Merchant Action Triggers Guide](https://docs.spade.com/reference/merchant-action-triggers-guide).'
      tags:
      - Merchant Action Triggers
      summary: Clear card-level triggers
      operationId: cardMerchantActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /category-action-triggers:
    get:
      description: 'Get the status and version of the latest category action trigger registration at the
        account scope.


        Account-level triggers apply to all transactions for all users in your account.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Get account-level category trigger status
      operationId: categoryActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register category action triggers at the account scope.


        Account-level triggers apply to all transactions for all users in your account.


        **Field requirements:**

        - `id`, `categoryId`, and `action` are required for each trigger

        - `categoryId` must be a valid Spade category ID (use [`GET /categories`](https://docs.spade.com/api-reference/category-personalization/get-all-default-and-custom-integration-level-categories)
        to discover valid IDs)


        **Limit:** A maximum of 300 `categoryTriggers` can be submitted per request. All registrations
        are processed synchronously.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Register category triggers at account scope
      operationId: categoryActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on category action triggers at the account scope.


        Supports two operations:

        - **add**: Register new category triggers or update existing ones. Only the submitted triggers
        are affected—existing registrations are preserved. If a trigger ID already exists, its registration
        is replaced (upsert). All registrations are processed synchronously.

        - **remove**: Remove category triggers by trigger ID. Removed triggers are excluded from enrichment
        lookups. Trigger IDs that are not currently active are silently ignored (idempotent).


        Successful `add` operations return `201`; successful `remove` operations return `200`.


        **Limit:** The total number of active triggers at a scope cannot exceed 300. An `add` operation
        that would push the total past this limit will receive a `400` error.


        **Important:** Only one operation can be in progress per scope at a time. Concurrent requests
        return 409.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Incremental category trigger operations at account scope
      operationId: categoryActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerPatchRequest'
            examples:
              add:
                summary: Add category triggers
                value:
                  operation: add
                  categoryTriggers:
                  - id: groceries-reward
                    categoryId: 005-001-000-000
                    action:
                      type: REWARD
                      rewardPercent: 2
                      offerId: groceries-2x
              remove:
                summary: Remove category triggers
                value:
                  operation: remove
                  triggerIds:
                  - block-gambling
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all category action triggers at the account scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Clear account-level category triggers
      operationId: categoryActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /programs/{programId}/category-action-triggers:
    parameters:
    - in: path
      name: programId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the program
      required: true
    get:
      description: 'Get the status and version of the latest category action trigger registration at the
        program scope.


        Program-level triggers apply to all enrichment requests where the `programId` field matches this
        program.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Get program-level category trigger status
      operationId: programCategoryActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register category action triggers at the program scope.


        Program-level triggers apply to all enrichment requests where the `programId` field matches this
        program.


        **Field requirements:**

        - `id`, `categoryId`, and `action` are required for each trigger

        - `categoryId` must be a valid Spade category ID (use [`GET /categories`](https://docs.spade.com/api-reference/category-personalization/get-all-default-and-custom-integration-level-categories)
        to discover valid IDs)


        **Limit:** A maximum of 300 `categoryTriggers` can be submitted per request. All registrations
        are processed synchronously.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Register category triggers at program scope
      operationId: programCategoryActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on category action triggers at the program scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).'
      tags:
      - Category Action Triggers
      summary: Incremental category trigger operations at program scope
      operationId: programCategoryActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all category action triggers at the program scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Clear program-level category triggers
      operationId: programCategoryActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{userId}/category-action-triggers:
    parameters:
    - in: path
      name: userId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the user
      required: true
    get:
      description: 'Get the status and version of the latest category action trigger registration at the
        user scope.


        User-level triggers apply to all transactions for all cards belonging to the specified user.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Get user-level category trigger status
      operationId: userCategoryActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register category action triggers at the user scope.


        User-level triggers apply to all transactions for all cards belonging to the specified user.


        **Field requirements:**

        - `id`, `categoryId`, and `action` are required for each trigger

        - `categoryId` must be a valid Spade category ID (use [`GET /categories`](https://docs.spade.com/api-reference/category-personalization/get-all-default-and-custom-integration-level-categories)
        to discover valid IDs)


        **Limit:** A maximum of 300 `categoryTriggers` can be submitted per request. All registrations
        are processed synchronously.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Register category triggers at user scope
      operationId: userCategoryActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on category action triggers at the user scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).'
      tags:
      - Category Action Triggers
      summary: Incremental category trigger operations at user scope
      operationId: userCategoryActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all category action triggers at the user scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Clear user-level category triggers
      operationId: userCategoryActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/{userId}/cards/{cardId}/category-action-triggers:
    parameters:
    - in: path
      name: userId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the user
      required: true
    - in: path
      name: cardId
      schema:
        type: string
        maxLength: 512
      description: Your unique identifier for the card
      required: true
    get:
      description: 'Get the status and version of the latest category action trigger registration at the
        card scope.


        Card-level triggers apply only to transactions for the specified card.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Get card-level category trigger status
      operationId: cardCategoryActionTriggersGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No action triggers exist for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - No action triggers exist for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      description: 'Register category action triggers at the card scope.


        Card-level triggers apply only to transactions for the specified card.


        **Field requirements:**

        - `id`, `categoryId`, and `action` are required for each trigger

        - `categoryId` must be a valid Spade category ID (use [`GET /categories`](https://docs.spade.com/api-reference/category-personalization/get-all-default-and-custom-integration-level-categories)
        to discover valid IDs)


        **Limit:** A maximum of 300 `categoryTriggers` can be submitted per request. All registrations
        are processed synchronously.


        **Important:** Triggers are only applied to enrichment responses when the status is `succeeded`.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Register category triggers at card scope
      operationId: cardCategoryActionTriggersPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerRegistrationRequest'
        required: true
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      description: 'Perform incremental operations on category action triggers at the card scope.


        See the account-scope PATCH endpoint for full documentation on supported operations (add, remove).'
      tags:
      - Category Action Triggers
      summary: Incremental category trigger operations at card scope
      operationId: cardCategoryActionTriggersPatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryActionTriggerPatchRequest'
        required: true
      responses:
        '200':
          description: Remove operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionTriggerPatchResponse'
        '201':
          description: Add operation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryActionTriggerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Clear all category action triggers at the card scope.


        This creates a new version with an empty trigger list.


        To learn more about action triggers, please read the [Category Action Triggers Guide](https://docs.spade.com/reference/category-action-triggers-guide).'
      tags:
      - Category Action Triggers
      summary: Clear card-level category triggers
      operationId: cardCategoryActionTriggersDelete
      responses:
        '204':
          description: Triggers cleared successfully
        '403':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: A registration is already in progress for this scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    examples:
                    - An action trigger registration is already in progress for this scope.
        '500':
          $ref: '#/components/responses/InternalServerError'
  /enrichments/{enrichmentId}/chargeback:
    parameters:
    - in: path
      name: enrichmentId
      schema:
        type: string
      description: The `enrichmentId` of enrichment associated with the transaction where a chargeback
        occurred.
      required: true
    post:
      description: 'An endpoint for reporting that a chargeback process has occurred on a transaction.
        The `state` and `chargebackNotes` properties can be used to provide information about the chargeback.
        The `isFraud`, `fraudType`, and `fraudNotes` are used to provide information about fraud or suspected
        fraud related to this chargeback. Note that this transaction must previously have been enriched
        to report the chargeback.

        '
      tags:
      - Feedback and Reporting
      summary: Report that a chargeback occurred
      operationId: enrichmentChargeback
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - state
                properties:
                  state:
                    type: string
                    description: 'The state of the chargeback process. You can update a chargeback''s
                      `state` by submitting another request with a new `state`, for example, a new request
                      could update the `state` from `chargeback_pending` to `chargeback_won`.

                      '
                    enum:
                    - chargeback_won
                    - chargeback_lost
                    - chargeback_pending
                    examples:
                    - chargeback_won
                  chargebackNotes:
                    type: string
                    description: Any additional details related to the chargeback not covered by the state.
                    maxLength: 512
                    examples:
                    - Transaction was initiated in error.
                  occurredAt:
                    type: string
                    format: date-time
                    description: 'The time when the chargeback''s state change. This could be the time
                      when the chargeback was initiated and its state became `chargeback_pending` or the
                      time when the chargeback was resolved its state moved to `chargeback_won` or `chargeback_lost`.
                      Formatted as an ISO 8601 date time.

                      '
                    examples:
                    - '2022-06-15 18:27:51Z'
              - $ref: '#/components/schemas/CommonFraud'
      responses:
        '200':
          description: Chargeback reported successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /enrichments/{enrichmentId}/decline:
    parameters:
    - in: path
      name: enrichmentId
      schema:
        type: string
      description: The `enrichmentId` of enrichment associated with the transaction where a card decline
        occurred.
      required: true
    post:
      description: 'An endpoint for reporting that a card decline has occurred on a transaction. The `declineCode`,
        `declineDescription`, and `declineNotes` properties can be used to provide information about the
        decline. The `isFraud`, `fraudType`, and `fraudNotes` are used to provide information about fraud
        or suspected fraud related to this decline. Note that this transaction must previously have been
        enriched to report the decline.

        '
      tags:
      - Feedback and Reporting
      summary: Report that a card decline occurred
      operationId: enrichmentDecline
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                properties:
                  declineCode:
                    type: string
                    description: 'A two digit alphanumeric code indicating why a card transaction was
                      declined. For reference, see the [Visa Action Code](https://developer.visa.com/request_response_codes)
                      or the [Mastercard Network Response Codes](https://developer.mastercard.com/mastercard-merchant-presented-qr/documentation/server-apis/response-error-codes/#network-response-codes).

                      '
                    maxLength: 128
                    examples:
                    - '51'
                  declineDescription:
                    type: string
                    description: A plain text description associated with a decline code.
                    maxLength: 512
                    examples:
                    - Insufficient funds
                  declineNotes:
                    type: string
                    description: Any additional details related to a card decline not covered by the `declineCode`
                      or `declineDescription`.
                    maxLength: 512
                    examples:
                    - Unknown reason for decline.
                  occurredAt:
                    type: string
                    format: date-time
                    description: The time the decline occurred. Formatted as an ISO 8601 date time.
                    examples:
                    - '2022-06-15 18:27:51Z'
              - $ref: '#/components/schemas/CommonFraud'
      responses:
        '200':
          description: Decline reported successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /enrichments/{enrichmentId}/refund:
    parameters:
    - in: path
      name: enrichmentId
      schema:
        type: string
      description: The `enrichmentId` of enrichment associated with the transaction where a refund occurred.
      required: true
    post:
      description: 'An endpoint for reporting that a refund has occurred on a transaction associated with
        an enrichment. The `refundNotes` property can be used to provide information about the refund.
        The `isFraud`, `fraudType`, and `fraudNotes` are used to provide information about fraud or suspected
        fraud related to this refund. Note that this transaction must previously have been enriched to
        report the refund.

        '
      tags:
      - Feedback and Reporting
      summary: Report that a refund occurred
      operationId: enrichmentRefund
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                properties:
                  refundNotes:
                    type: string
                    description: Any additional details related to a refund
                    maxLength: 512
                    examples:
                    - Frequently refunded item.
                  occurredAt:
                    type: string
                    format: date-time
                    description: The time the refund occurred. Formatted as an ISO 8601 date time.
                    examples:
                    - '2022-06-15 18:27:51Z'
              - $ref: '#/components/schemas/CommonFraud'
      responses:
        '200':
          description: Refund reported successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /enrichments/{enrichmentId}/fraud:
    parameters:
    - in: path
      name: enrichmentId
      schema:
        type: string
      description: The `enrichmentId` of enrichment associated with the transaction.
      required: true
    post:
      description: 'An endpoint for reporting suspected fraud on a transaction which was not related to
        a chargeback, decline, or refund. If you''ve already indicated suspected fraud in a chargeback,
        decline, or refund, it''s not necessary to send a request to this endpoint. The `isFraud`, `fraudType`,
        and `fraudNotes` fields are used to provide information about fraud or suspected fraud on this
        transaction. Note that this transaction must previously have been enriched to report other fraud
        information.

        '
      tags:
      - Feedback and Reporting
      summary: Report fraud on a transaction
      operationId: enrichmentOtherFraud
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CommonFraud'
      responses:
        '200':
          description: Other fraud information reported successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentFeedbackResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /batches/transactions/cards/enrich:
    options:
      description: 'Returns metadata about this endpoint, including the current `synchronousMax` — the
        cap on items per request when `?synchronous=true`. Can be used to fetch the current cap dynamically.

        '
      tags:
      - Card Enrichment
      summary: Get metadata for the batch card enrichment endpoint
      operationId: batchesTransactionsCardsEnrichOptions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEndpointOptionsResponse'
    post:
      description: 'Submit a batch of transactions for enrichment. This endpoint will return a `batchId`
        which can

        be used in the `/batches/{batchId}` and `/batches/{batchId}/results` endpoints to check the status
        of the batch job and retrieve the results.


        You can pass `?synchronous=true` to enrich smaller sets of transactions synchronously. See the
        [Microbatch enrichment guide](https://docs.spade.com/reference/microbatch-enrichment-guide) for
        details.


        Note that we impose a rate limit on the number of batch requests made in a rolling 12 hour window.
        Please reach out to

        sales@spade.com with any questions.

        '
      tags:
      - Card Enrichment
      summary: Enrich a batch of card transactions
      operationId: batchesTransactionsCardsEnrich
      parameters:
      - $ref: '#/components/parameters/SynchronousBatchParam'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BatchCardEnrichmentRequest'
              - type: object
                required:
                - transactions
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BatchSubmissionResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/BatchCardEnrichmentResponse'
                  title: Card Enrichment Microbatch Results
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        batchStatusCallback:
          $ref: '#/components/callbacks/batchStatusCallback'
  /batches/transactions/cards/enrich/parse:
    options:
      description: 'Returns metadata about this endpoint, including the current `synchronousMax` — the
        cap on items per request when `?synchronous=true`. Can be used to fetch the current cap dynamically.

        '
      tags:
      - Card Enrichment
      summary: Get metadata for the batch card parse enrichment endpoint
      operationId: batchesTransactionsCardsEnrichParseOptions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEndpointOptionsResponse'
    post:
      description: 'Submit a batch of card transactions for enrichment where de43 data in the request
        body takes precedence over the other fields in the request body.

        Just like the `/transactions/cards/enrich/parse` endpoint, the transactions can omit `city` and
        `merchantName` fields if the `de43` field is present.

        This endpoint returns a `batchId` which can be used in the `/batches/{batchId}` and `/batches/{batchId}/results`
        endpoints to check the status of the batch job and retrieve the results.


        You can pass `?synchronous=true` to enrich smaller sets of transactions synchronously. See the
        [Microbatch enrichment guide](https://docs.spade.com/reference/microbatch-enrichment-guide) for
        details.


        Note that we impose a rate limit on the number of batch requests made in a rolling 12 hour window.
        Please reach out to

        sales@spade.com with any questions.

        '
      tags:
      - Card Enrichment
      summary: Enrich a batch of card transactions with DE43 data
      operationId: batchesTransactionsCardsEnrichParse
      parameters:
      - $ref: '#/components/parameters/SynchronousBatchParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCardParseEnrichmentRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BatchSubmissionResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/BatchCardEnrichmentResponse'
                  title: Card Enrichment Microbatch Results
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        batchStatusCallback:
          $ref: '#/components/callbacks/batchStatusCallback'
  /batches/transactions/transfers/enrich:
    options:
      description: 'Returns metadata about this endpoint, including the current `synchronousMax` — the
        cap on items per request when `?synchronous=true`. Can be used to fetch the current cap dynamically.

        '
      tags:
      - Transfer Enrichment
      summary: Get metadata for the batch transfer enrichment endpoint
      operationId: batchesTransferEnrichOptions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEndpointOptionsResponse'
    post:
      description: 'Submit a batch of transfers for enrichment.

        This endpoint will return a `batchId` which can be used in the `/batches/{batchId}` and `/batches/{batchId}/results`

        endpoints to check the status of the batch job and retrieve the results.


        You can pass `?synchronous=true` to enrich smaller sets of transactions synchronously. See the
        [Microbatch enrichment guide](https://docs.spade.com/reference/microbatch-enrichment-guide) for
        details.


        Note that we impose a rate limit on the number of batch requests made in a rolling 12 hour window.
        Please reach out to

        sales@spade.com with any questions.

        '
      tags:
      - Transfer Enrichment
      summary: Enrich a batch of transfers
      operationId: batchesTransferEnrich
      parameters:
      - $ref: '#/components/parameters/SynchronousBatchParam'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BatchTransferEnrichmentRequest'
              - type: object
                required:
                - transactions
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BatchSubmissionResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/BatchTransferEnrichmentResponse'
                  title: Transfer Enrichment Microbatch Results
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        batchStatusCallback:
          $ref: '#/components/callbacks/batchStatusCallback'
  /batches/transactions/universal/enrich:
    options:
      description: 'Returns metadata about this endpoint, including the current `synchronousMax` — the
        cap on items per request when `?synchronous=true`. Can be used to fetch the current cap dynamically.

        '
      tags:
      - Universal Enrichment
      summary: Get metadata for the batch universal enrichment endpoint
      operationId: batchesUniversalEnrichOptions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchEndpointOptionsResponse'
    post:
      description: 'Submit a batch of universal transactions for enrichment.

        This endpoint will return a `batchId` which can be used in the `/batches/{batchId}` and `/batches/{batchId}/results`

        endpoints to check the status of the batch job and retrieve the results.


        You can pass `?synchronous=true` to enrich smaller sets of transactions synchronously. See the
        [Microbatch enrichment guide](https://docs.spade.com/reference/microbatch-enrichment-guide) for
        details.


        Note that we impose a rate limit on the number of batch requests made in a rolling 12 hour window.
        Please reach out to

        sales@spade.com with any questions.

        '
      tags:
      - Universal Enrichment
      summary: Enrich a batch of universal transactions
      operationId: batchesUniversalEnrich
      parameters:
      - $ref: '#/components/parameters/SynchronousBatchParam'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/BatchUniversalEnrichmentRequest'
              - type: object
                required:
                - transactions
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BatchSubmissionResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/BatchUniversalEnrichmentResponse'
                  title: Universal Enrichment Microbatch Results
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        batchStatusCallback:
          $ref: '#/components/callbacks/batchStatusCallback'
  /batches/{cardEnrichmentBatchId}/results:
    parameters:
    - name: cardEnrichmentBatchId
      in: path
      description: ID of the batch card enrichment job
      required: true
      schema:
        type: string
        format: uuid
    get:
      description: 'Get the results of a batch card enrichment job.

        '
      tags:
      - Card Enrichment
      summary: Get the results of a batch card enrichment job
      operationId: batchesCardEnrichGetResults
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchCardEnrichmentResponse'
                title: Card Enrichment Batch Results
        '202':
          description: Batch job is not yet complete. Results aren't currently available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetStatusApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BatchJobNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /batches/{transferEnrichmentBatchId}/results:
    parameters:
    - name: transferEnrichmentBatchId
      in: path
      description: ID of the batch transfer enrichment job
      required: true
      schema:
        type: string
        format: uuid
    get:
      description: 'Get the results of a batch transfer enrichment job.

        '
      tags:
      - Transfer Enrichment
      summary: Get the results of a batch transfer enrichment job
      operationId: batchesTransactionsTransfersEnrichGetResults
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchTransferEnrichmentResponse'
                title: Transfer Enrichment Batch Results
        '202':
          description: Batch job is not yet complete. Results aren't currently available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetStatusApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BatchJobNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /batches/{universalEnrichmentBatchId}/results:
    parameters:
    - name: universalEnrichmentBatchId
      in: path
      description: ID of the batch universal enrichment job
      required: true
      schema:
        type: string
        format: uuid
    get:
      description: 'Get the results of a batch universal enrichment job.

        '
      tags:
      - Universal Enrichment
      summary: Get the results of a batch universal enrichment job
      operationId: batchesUniversalEnrichGetResults
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BatchUniversalEnrichmentResponse'
                title: Universal Enrichment Batch Results
        '202':
          description: Batch job is not yet complete. Results aren't currently available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetStatusApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BatchJobNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /batches/{cardEnrichmentBatchId}:
    parameters:
    - name: cardEnrichmentBatchId
      in: path
      description: ID of the batch card enrichment job
      required: true
      schema:
        type: string
        format: uuid
    get:
      description: 'Get the status of a batch job.

        '
      tags:
      - Card Enrichment
      summary: Get the status of a batch card enrichment job
      operationId: batchesCardEnrichGetStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetStatusApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BatchJobNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /transactions/enrich:
    post:
      deprecated: true
      description: Enrich a card transaction. Please use `/transactions/cards/enrich` instead. This endpoint
        now aliases to `/transactions/cards/enrich`.
      operationId: cardEnrichDeprecated
      summary: Enrich a card transaction
      tags:
      - Card Enrichment
  /transactions/enrich/parse:
    post:
      deprecated: true
      description: Enrich a card transaction. Please use `/transactions/cards/enrich/parse` instead. This
        endpoint now aliases to `/transactions/cards/enrich/parse`.
      operationId: cardEnrichParseDeprecated
      summary: Enrich a card transaction with an unparsed de43
      tags:
      - Card Enrichment
  /batches/{transferEnrichmentBatchId}:
    parameters:
    - name: transferEnrichmentBatchId
      in: path
      description: ID of the batch transfer enrichment job
      required: true
      schema:
        type: string
        format: uuid
    get:
      description: 'Get the status of a batch transfer enrichment job.

        '
      tags:
      - Transfer Enrichment
      summary: Get the status of a batch transfer enrichment job
      operationId: batchesTransactionsTransfersEnrichGetStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetStatusApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BatchJobNotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /categories:
    get:
      description: 'Fetch categories from Spade''s database.


        This endpoint returns a list containing Spade''s default categories, plus any custom integration-level
        categories you''ve created.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Get all default and custom integration-level categories
      operationId: categoriesGet
      parameters:
      - in: query
        name: include
        schema:
          type: string
          examples:
          - default
          - custom
          - default,custom
        description: An optional comma-separated string specifying which category types to include. Valid
          values include 'default', 'custom', 'default,custom'.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: An array of categories. Spade categories are returned first, followed by
                  custom categories.
                items:
                  $ref: '#/components/schemas/MerchantCategory'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      description: 'Create a custom integration-level category.


        This category will be available to all users of your integration.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Create a custom integration-level category
      operationId: categoriesPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonPostCategoriesRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                description: The newly created category.
                $ref: '#/components/schemas/CustomCategory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      description: 'Delete all custom integration-level categories.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Delete all custom integration-level categories
      operationId: categoriesDelete
      responses:
        '204':
          description: Successful operation
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /categories/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      description: The `id` of the relevant category.
      required: true
    delete:
      description: 'Delete a custom integration-level category.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Delete a custom integration-level category
      operationId: categoriesDetailDelete
      responses:
        '204':
          description: Successful operation
        '403':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /counterparty-category-personalizations:
    get:
      description: 'Fetch counterparty category personalizations from Spade''s database.


        This endpoint returns a list containing all integration-level counterparty category personalizations
        for your integration.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Get all integration-level counterparty category personalizations
      operationId: counterpartyCategoryPersonalizationsGet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: An array of counterparty category personalizations.
                items:
                  $ref: '#/components/schemas/CounterpartyCategoryPersonalization'
        '403':
          description: Unauthorized
        '500':
          description: Unexpected Error
    put:
      description: 'Create an integration-level counterparty category personalization.


        This personalization will apply to all enrichments that take place at the given `counterpartyId`
        for your integration.


        To learn more about category personalization, please read the [Category Personalization Guide](https://docs.spade.com/reference/category-personalization-guide).'
      tags:
      - Category Personalization
      summary: Create an integration-level counterparty category personalization
      operationId: counterpartyCategoryPersonalizationsPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CounterpartyCategoryPersonalization'
[...]
